html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.display-main {
  width: 362px;
  height: 48px;
  background-color: blueviolet;
}

.display-input {
  height: 24px;
  background-color: aquamarine;
}

.display-result {
  background-color: bisque;
  height: 24px;
  text-align: right;
}

.buttons-container {
  background-color: burlywood;
  height: 450px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 3px;
}

.buttons-container button {
  flex-shrink: 0;
  flex-basis: 70px;
  height: 50px;
}

.operator-func.equal {
  flex-basis: 143px;
}