html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.calc {
  background-color: rgb(34, 40, 49);
  border-radius: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 20px 24px;
}

.display-main {
  background-color: rgb(117, 134, 112);
  border-radius: 6px;
  color: rgb(34, 40, 49);
  font-size: 32px;
  height: 100px;
  padding: 8px 24px;
}

.display-input {
  height: 42px;
}

.display-result {
  height: 42px;
  text-align: right;
}

.buttons-container {
  padding: 18px 0;
  height: 200px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.buttons-container button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  flex-shrink: 0;
  flex-basis: calc(19% - 3px);
  height: 42px;
  font-size: 28px;
  font-weight: bold;
}

.operator-func.equal {
  flex-basis: calc(40% - 3px);
}